.tour-steps {
  margin-bottom: 16px;
}
.tour-steps .tour-steps__steps {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tour-steps .tour-steps__steps .tour-step {
  position: relative;
}
.tour-steps .tour-steps__steps .tour-step .form-group {
  margin-bottom: 16px;
}
.tour-steps .tour-steps__steps .tour-step .image-upload .form-group {
  margin-bottom: 0;
}
.tour-steps .tour-steps__steps .tour-step .remove-step {
  position: absolute;
  right: 0;
  top: 0;
}
.tour-steps .tour-steps__steps .tour-step:last-of-type {
  margin-bottom: 0;
}

.accordion.tour-accordion {
  width: 100%;
}
.accordion.tour-accordion.draggable-source--is-dragging {
  opacity: 0.5;
}
.accordion.tour-accordion .accordion-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.accordion.tour-accordion .accordion-header .accordion-header--text {
  margin-right: auto;
}
.accordion.tour-accordion .accordion-header .accordion-header--text .step-number {
  border: 1px solid var(--ap-color);
  color: var(--ap-color);
  padding: 5px 11px;
  border-radius: 50%;
}
.accordion.tour-accordion .accordion-header .dragger {
  height: 38px;
  width: 38px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
.accordion.tour-accordion .accordion-header .accordion-button {
  width: fit-content;
  padding: 0.5rem;
}
.accordion.tour-accordion .accordion-header .remove-step {
  height: 38px;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  opacity: 0.7 !important;
}

.shepherd-element.tour-step {
  max-width: 300px;
}
.shepherd-element.tour-step .shepherd-arrow:before {
  background-color: white !important;
}
.shepherd-element.tour-step .shepherd-content .shepherd-header {
  background-color: white;
}
.shepherd-element.tour-step .shepherd-content .shepherd-header h3 {
  font-weight: bold;
}
.shepherd-element.tour-step .shepherd-content .shepherd-text img {
  max-width: 100%;
  height: auto;
  width: -webkit-fill-available;
}
.shepherd-element.tour-step .shepherd-content .shepherd-stats {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 2px;
}
.shepherd-element.tour-step .shepherd-content .shepherd-stats li {
  transition: width 0.1s ease-in;
  box-sizing: content-box;
  display: block;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.shepherd-element.tour-step .shepherd-content .shepherd-stats li.active, .shepherd-element.tour-step .shepherd-content .shepherd-stats li:hover, .shepherd-element.tour-step .shepherd-content .shepherd-stats li:focus, .shepherd-element.tour-step .shepherd-content .shepherd-stats li:active {
  width: 15px;
  background: #999;
}
.shepherd-element.tour-step .shepherd-content .shepherd-footer {
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.shepherd-element.tour-step .shepherd-content .shepherd-footer button {
  margin: 0;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid #bdbdbd;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 14px;
  background-color: #f4f4f4;
  border-radius: 0.2em;
}
.shepherd-element.tour-step .shepherd-content .shepherd-footer button:hover, .shepherd-element.tour-step .shepherd-content .shepherd-footer button:focus, .shepherd-element.tour-step .shepherd-content .shepherd-footer button:active {
  outline: 0;
  text-decoration: none;
  border-color: #9e9e9e;
  background-color: #e0e0e0;
  color: #212121;
}
.shepherd-element.tour-step .shepherd-content .shepherd-footer button.disabled {
  color: #9e9e9e;
  border-color: #bdbdbd;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
  pointer-events: none;
}

body[admin-panel=true] .tour-accordion .image-upload #field-image-upload {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
