.tour-steps {
    margin-bottom: 16px;

    .tour-steps__steps {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .tour-step {
            position: relative;

            .form-group {
                margin-bottom: 16px;
            }

            .image-upload {
                .form-group {
                    margin-bottom: 0;
                }
            }

            .remove-step {
                position: absolute;
                right: 0;
                top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.accordion.tour-accordion {
    width: 100%;

    &.draggable-source--is-dragging {
        opacity: .5;
    }

    .accordion-header {
        display: flex;
        align-items: center;
        gap: 8px;

        .accordion-header--text {
            margin-right: auto;

            .step-number {
                border: 1px solid black;
                color: black;
                padding: 5px 11px;
                border-radius: 50%;
            }
        }

        .dragger {
            height: 38px;
            width: 38px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            cursor: grab;
        }

        .accordion-button {
            width: fit-content;
            padding: 0.5rem;
        }

        .remove-step {
            height: 38px;
        }
    }
}
